<?xml version="1.0" encoding="utf-8"?>
<menu
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
>
    <item
        android:id="@+id/home"
        android:icon="@drawable/icon1"
        android:title="الحجز"
        app:showAsAction="ifRoom" />


    <item
        android:id="@+id/About"
        android:icon="@drawable/icon2"
        android:title="إعلانات"
        app:showAsAction="ifRoom" />

    <item
        android:id="@+id/id_dash"
        android:icon="@drawable/icon3"
        android:title="الملف الشخصي"
        app:showAsAction="ifRoom" />

</menu>